@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900');
.navSection {
	background-color: #bd5d38;
	width:15%;
	height: 100vh;
	display: flex;
	justify-content: center; 
	position: fixed;
	top: 0;
	left: 0; 
}
.infoSection {
	background-color: #fafafa;

	width:85%;
	height: 100vh;
	margin-left: 15%;
}
.wrapper {
	display: flex;
}
body {
	margin: 0;
}
.navSection img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 7px solid rgba( 255,255,255,0.2);
}
.navSection ul li {
list-style: none;
}
.navSection ul li a {
  color: rgba(255,255,255,0.5);
  display: block;
  margin: 15px 0;
  text-align :center;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-sereif;
  font-weight: 600;
  text-decoration: none;  
}
.navSection ul {
		padding: 0;
}
.navContainer {
	align-self: center;
}
.navSection .active a {
	color:#fff;
}
.about {
	width:100%;
	height: 100%;
	display: flex;
}
.infoContainer {
	align-self: center;
	padding: 0 60px;
}
.about h1 {
	font-family:'Saira Extra Condensed',sans-sereif;
	font-size: 96px;
	color:#343a40;
	margin:5px 0;
	line-height: 50px;
	text-transform: uppercase;
}
.about h2 {
	font-family: 'Saira Extra Condensed'sans-serif,
	font-size:20px;
	color:#868e96;
	font-weight: 500;
	margin-bottom:60px;

}
.about p {
	font-family: 'Open Saira';
	font-size: 16px;
	color:#868e96;
}
.infoContainer {
	width: 100%;
	font-size: 40px;
}
.experience {
display: flex;
}
.expInfo {
	width: 80%;
	margin-top: 30px;
}
.expDate {
	width: 20%;
	margin-top: 30px;
}
.about h1 p{
	margin-top: 120px
}
.about h1 {
    margin: 100px;
}





